.advantages {
  background: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.advantages__subtitle {
  display: block;
  text-align: center;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 45px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__text {
  display: block;
  text-align: center;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 31px;
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .advantages {
    margin: 0 auto;
  }

  .advantages__subtitle {
    display: block;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    padding-top: 50px;
  }

  .advantages__text {
    display: block;
    text-align: center;
    padding-right: 18%;
    padding-left: 18%;
    padding-bottom: 54px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
    margin: 0 auto;
  }

  .advantages__subtitle {
    margin-top: 50px;
    margin-bottom: 37px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 445px;
  }

  .advantages__text {
    padding-top: 0;
  }
}
