.advantages {
  background: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
}

.advantages__subtitle {
  display: block;
  text-align: center;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 39px;
  font-size: 18px;
  line-height: 26px;
}

.advantages__text {
  display: block;
  text-align: center;
  margin: auto;
  padding: 30px;
  padding-bottom: 7px;
  line-height: 23px;
}

@media (min-width: 768px) {
  .advantages {
    margin: 0 auto;
  }

  .advantages__subtitle {
    display: block;
    text-align: center;
    font-size: 21px;
    padding-right: 163px;
    padding-left: 163px;
    padding-top: 47px;
  }

  .advantages__text {
    display: block;
    text-align: center;
    padding-right: 137px;
    padding-left: 137px;
    padding-bottom: 51px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
    margin: 0 auto;
  }

  .advantages__subtitle {
    margin-top: 50px;
    margin-bottom: 37px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 445px;
  }

  .advantages__text {
    padding-top: 0;
  }
}
