.copyright {
  background: ffffff;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;
  display: flex;
  align-content: center;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.copyright__text {
  margin: 5px 10px 0 0;
  display: block;
  font-size: 14px;
  line-height: 26px;
}

.copyright__svg:hover {
  fill: #81b3d2;
}

.copyright__svg:active {
  fill: #b2b2b2;
}
