.feedback {
  font-size: 18px;
  line-height: 26px;
}

.feedback__flex {
  dispay: flex;
  flex-direction: column;
}

.feedback__fieldset {
  border: none;
}

.feedback__list {
  list-style: none;
}

@media (min-width: 768px) {
  .feedback__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}
