.find-hotel {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.find-hotel__question {
  display: block;
  text-align: center;
  padding-top: 27px;
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__text {
  display: block;
  text-align: center;
  padding: 0 29px;
  margin-top: 19px;
  margin-bottom: 35px;
}

.find-hotel__button {
  display: block;
  width: 280px;
  background-color: #81b3d2;
  text-decoration: none;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  padding: 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .find-hotel__question {
    font-size: 30px;
    line-height: 31px;
    padding-top: 52px;
  }

  .find-hotel__text {
    display: block;
    text-align: center;
    padding-left: 166px;
    padding-right: 166px;
    padding-top: 30px;
    margin: 0;
  }

  .find-hotel__button {
    width: 460px;
    margin-top: 41px;
    margin-bottom: 58px;
  }
}
