.gallery {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.gallery__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 26px;
  margin-top: 0;
  margin-bottom: 37px;
  padding-top: 40px;
}

.gallery__text {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 33px;
}

@media (min-width: 768px) {
  .gallery__text {
    border-bottom: none;
  }
}
