.main-img {
  display: block;

}

.main-img__index {
  width: 100%;
  display: block;
  position: relative;
}

.main-img::after {
  content: " ";
  width: 100%;
  height: 100px;
  background-color: transponent;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-repeat: repeat-x;
  background-size: contain;
  position: absolute;
  bottom: -184px;
}
