.main-img {
  display: block;
  position: relative;
  object-fit: cover;
  object-position: center center;
}

.main-img__index::before {
  content: "";
  width: 280px;
  height: 213px;
  background-image: url("../img/text-sedona-index.svg");
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90px;
  background-size: 280px 213px;
  background-repeat: no-repeat;
}

.main-img__photo {
    background-image: url("../img/text-sedona.svg");
}

.main-img__img-index {
  display: block;
  width: 100%;
  height: 390px;
}

.main-img__img-photo,
.main-img__img-form {
  display: block;
  width: 100%;
  height: 158px;
}

.main-img__bg--mobile {
  width: 100%;
  height: 26px;
  position: absolute;
  bottom: 0;
}

.main-img__bg--tablet {
  display: none;
}

.main-img__bg--desktop {
  display: none;
}

@media (min-width: 768px) {
  .main-img__bg--mobile {
    display: none;
  }

  .main-img__bg--desktop {
    display: none;
  }

  .main-img__img-index {
    display: block;
    height: 521px;
  }

  .main-img__img-photo,
  .main-img__img-form {
    height: 293px;
  }

  .main-img__bg--tablet {
    display: block;
    width: 100%;
    height: 59px;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 1200px) {
  .main-img__bg--mobile {
    display: none;
  }

  .main-img__bg--tablet {
    display: none;
  }

  .main-img__img-index {
    display: block;
    height: 521px;
  }

  .main-img__img-photo,
  .main-img__img-form {
    height: 299px;
  }

  .main-img__bg--desktop {
    display: block;
    width: 100%;
    height: 59px;
    position: absolute;
    bottom: 0;
  }
}
