.page-footer {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.page-footer__tag {
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 36px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
  }

  .page-footer__tag {
    margin: 0;
    padding-top: 31px;
  }
}
