.page-header {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header__nav {
  display: flex;
  flex-direction: column;
}

.page-header__logo-link {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__list {
  background: #81b3d2;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .page-header__list {
    display: flex;
    justify-content: space-around;
    width: auto;
  }
}
