.photo {
  background: ffffff;
}

.photo__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.photo__item {
  width: 100%;
  padding: 22px 0;
  border-bottom: #e5e5e5 solid 1px;
}

.photo__title {
  font-size: 14px;
  padding-top: 18px;
  padding-bottom: 6px;
  margin: 0;
}

.photo__author {
  text-transform: none;
  padding-top: 0;
  padding-bottom: 15px;
  margin: 0;
}

.photo__likes {
  font-weight: 700;
  padding-left: 35px;
}

.photo__img {
  height: 280px;
  width: 100%;
}

@media (min-width: 768px) {
  .photo__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
    margin: 0;
  }

  .photo__item {
    flex: 0 0 50%;
    border-bottom: none;
    padding: 0;
  }

  .photo__item--big {
    flex: 0 0 100%;
  }

  .photo__info {
    background-color: #f2f2f2;
  }

  .photo__info--darker {
    background-color: #eaeaea;
  }
}

@media (min-width: 1200px) {
  .photo__item {
    flex: 0 0 33.3333%;
  }

  .photo__item--big {
    flex: 0 0 100%;
  }
}
