.social {
  background: #ffffff;
}

.social__list {
  list-style: none;
  width: 151px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 26%;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: blue;
}

@media (min-width: 768px) {
  .social__list {
    margin: 0;
    padding: 0;
  }
}
