.page-footer__social {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: blue;
  margin: 0 3px 3px;
}

@media (min-width: 768px) {
  .social__list {
    margin: 0;
    padding: 0;
  }
}
