.video {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.video__question {
  font-size: 18px;
  line-height: 26px;
  display: block;
  text-align: center;
  margin-top: 35px;
}

.video__text {
  text-align: center;
}
